<div class="row">

    <table mat-table
           [dataSource]="resultPesq" multiTemplateDataRows
           class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef> 
                {{column}}
            </th>
            <td mat-cell *matCellDef="let element">
           
                <div class="col-6"  *ngIf="column != 'opcao'" >
                    <span class="block">{{column}}:</span> {{element[column]}}  
                </div>
            </td>
        </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td class="col-12" mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="row example-element-detail mb-2"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        
          <div class="col"> 
            <span class="block">Username:</span> {{element.username}}
          </div>
          <div class="col">  
               <span class="block">Email:</span> {{element.email}}
         </div>
          <div class="col">   
              <span class="block">Telefone:</span>  {{element.phone}}
           
         </div>
          <div class="col"> 
               <span class="block">Cidade:</span> {{element.address.city}}
          </div>
          <div class="col-12  mt-3 mb-3 text-right">
            <button type="button" (click)="openDialog(element)" class="btn btn-primary btn-sm">Detalhes</button>
          </div>
      </div>
    </td>
  </ng-container>

<!--   <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr> -->
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

</div>